$margin: .5rem;
.info {
  p {
    display: inline-block;
    line-height: $margin;
    margin-right: $margin;
  }

  .name {
    font-weight: bold;
  }

  .aim {
    font-size: 1.5rem;
    &:before {
      font-weight: bold;
      content: "·";
      margin-right: $margin;
    }
  }
}